<div class="row">
	<% @animes.each do |anime| %>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail centered-text transparent-white">
				<%= link_to (image_tag anime.poster.url(:medium), class: 'image'), anime %>
				<h2>
					<%= link_to anime.name, anime %>
				</h2>
			</div>
		</div>
	<% end %>
</div>
